In [1]:
import pandas as pd
import numpy as np

In [9]:
# get data

df = pd.read_csv("advertising_and_sales_clean.csv")
df = df.drop("influencer", axis = 1)
df

           tv     radio  social_media      sales
0     16000.0   6566.23       2907.98   54732.76
1     13000.0   9237.76       2409.57   46677.90
2     41000.0  15886.45       2913.41  150177.83
3     83000.0  30020.03       6922.30  298246.34
4     15000.0   8437.41       1406.00   56594.18
...       ...       ...           ...        ...
4541  26000.0   4472.36        717.09   94685.87
4542  71000.0  20610.69       6545.57  249101.92
4543  44000.0  19800.07       5096.19  163631.46
4544  71000.0  17534.64       1940.87  253610.41
4545  42000.0  15966.69       5046.55  148202.41

[4546 rows x 4 columns]

In [21]:
# get values of the Dataframe

x = df.iloc[:, :-1].values
y = df.iloc[:, -1].values

In [23]:
# normalize the training data

from sklearn.preprocessing import MinMaxScaler
min_max = MinMaxScaler()
x = min_max.fit_transform(x)
x

array([[0.06666667, 0.13434593, 0.20798362],
       [0.03333333, 0.18901144, 0.17233613],
       [0.34444444, 0.3250586 , 0.20837199],
       ...,
       [0.37777778, 0.40514008, 0.36448969],
       [0.67777778, 0.35878428, 0.13881357],
       [0.35555556, 0.32670049, 0.36093932]])

In [29]:
# split data into train and test data

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, random_state = 42, test_size = 0.2)

In [30]:
# training data

from sklearn.linear_model import LinearRegression
model = LinearRegression().fit(x_train, y_train)
y_pred = model.predict(x_test)

from sklearn.metrics import mean_squared_error
mean_squared_error(y_pred, y_test)**0.5

2884.723934616292